[submodule "external/dfaMinimizationComparison"]
	path = external/dfaMinimizationComparison
	url = https://github.com/WalkerCodeRanger/dfaMinimizationComparison.git
[submodule "external/DFA-suffix-doubling"]
	path = external/DFA-suffix-doubling
	url = https://github.com/regindex/DFA-suffix-doubling.git
[submodule "external/WNFA-partition-refinement"]
	path = external/WNFA-partition-refinement
	url = https://github.com/regindex/WNFA-partition-refinement.git
[submodule "external/re_to_dfa"]
	path = external/re_to_dfa
	url = https://github.com/fnvir/re_to_dfa.git
