[submodule "external/dfaMinimizationComparison"]
	path = external/dfaMinimizationComparison
	url = https://github.com/WalkerCodeRanger/dfaMinimizationComparison.git
[submodule "external/DFA-suffix-doubling"]
	path = external/DFA-suffix-doubling
	url = https://github.com/regindex/DFA-suffix-doubling.git
[submodule "external/finite-automata-partition-refinement"]
	path = external/finite-automata-partition-refinement
	url = https://github.com/regindex/finite-automata-partition-refinement.git
[submodule "external/RegexpToAutomaton"]
	path = external/RegexpToAutomaton
	url = https://github.com/regindex/RegexpToAutomaton.git
